:root{
    --background-white: white;
    --background-dark: #2E2F42;
    --cloud-color: #F4F4FD;
    --web-color: #4D5AE5;
    --head-color:#2E2F42;
    --paragraph-color: #434455;
--pressed-state: #404BBF;
--h1-color:  #FFFFFF;
--accent: #E7E9FC;
--text: #434455;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--text);
    background-color: var(--h1-color);
}
header{
    font-family: ;
background-color: var(--background-white);
}
.web-text{
    font-family: "Raleway", sans-serif;
    color: var(--web-color);
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.studio-text{
    color: var(--background-dark);
}
.link{
    text-decoration: none;
    
}
.list{
    list-style: none;
}
.ul-one a{
    color: var(--head-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    text-decoration: none; 
    letter-spacing: 0.02em 
}

.ul-one a:hover, .ul-one a:focus, .ul-one a:active {
    color: var(--pressed-state);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.ul-address a{
color: var(--paragraph-color);
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-decoration: none;
}

.ul-address a:hover, .ul-address a:focus{
    color: var(--pressed-state);
    text-decoration: none;
    letter-spacing: 0.02em;
}

.address{
    font-style: normal;
}

h1{
    color: var(--h1-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.07;

}
.header-two{
color: var(--head-color);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
}

.header-three{
    color: var(--head-color);
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.paragraph-one{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.butt-one{
    font-family: "Roboto", sans-serif;
    color: var(--h1-color);
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
    background-color: var(--web-color);
cursor: pointer;
}

.butt-one:hover, .button-one:active{
    background-color: var(--pressed-state);
}
.butt-one:focus{
    background-color: var(--pressed-state);
}
.section-one{
background-color: var(--background-dark);
}
.section-two{
background-color: var(--h1-color);
}

.section-three{
    background-color: var(--h1-color);
}
.section-four{
    background-color: var(--cloud-color);
}
.staff-list{
    background-color: var(--h1-color);
}
.footer{
    background-color: #2E2F42;
    text-align: left;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}
.text-footer{
    color: var(--cloud-color);
}
.studio-text-footer{
    color: var(--cloud-color);
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
}

.button-portfolio{
    font-family: "Roboto", sans-serif;
    color: var(--web-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;    
        background-color: var(--cloud-color);
      cursor: pointer;  
}
.button-portfolio:hover, .button-portfolio:focus{
    color: var(--h1-color);
    background-color: var(--pressed-state);
}
.header-three-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-dark);
}